extends layout

block content
	h1 Online Shopping
	br 
	span 
		h3 User Login
		form#login(name="login",method="post",action="/login")
			input(type="text", name="email", placeholder= "Email")
			br
			input(type="password", name="password", placeholder= "Password") 
			br
			button#btnSubmit(type="submit") Login
	div
		br
		h3(name= "error") #{error}
